@font-face {
    font-family: "font1";
    src: url(../fonts/1.eot);
    src: url(../fonts/1.eot) format("embedded-opentype"),
        url(../fonts/6.woff2) format("woff2"),
        url(../fonts/5.woff) format("woff"),
        url(../fonts/4.ttf) format("truetype"),
        url(../fonts/3.svg) format("svg");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "font1";
    width: 100%;
    height: 100vh;
    background-image: url(../images/snow.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.flipdown {
    margin: 60px auto 0;
}

.year-title {
    margin: 30px auto 0;
    direction: rtl;
    font-size: 22px;
    color: #fff;
    padding: 5px 10px;
    background-color: #151515;
    border-radius: 5px;
}

@media screen and (max-width:500px) {
    body {
        background-image: url(../images/mobile.jpg);
        background-size: cover;
    }
}